body {
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    color:white;
    background-color:black;
}
h3 {
    background-color: goldenrod;
    margin-top: 60px;
  }
  h4 {
    background-color: goldenrod;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: scroll;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:white;
  }
  
  .active {
    background-color: goldenrod;
  }